@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
   font-family: Ubuntu, 'sans-serif';
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: rgba(195, 216, 223, 0.963);
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.quiz-container {
   background: #fff;
   border-radius: 10px;
   box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
   width: 600px;
   max-width: 100%;
   overflow: hidden;
}

.quiz-header {
   padding: 4rem;

}

ul {
   list-style-type: none;
   padding: 0;

}

button {
   background: #1e3799;
   display: block;
   width: 100%;
   padding: 2rem;
   color: white;
   font-size: 1.2rem;
   border: none;
}

button:hover {
   background: #0d2688;
   cursor: pointer;
}